{% extends "base.html" %}

{% block title %}{{ image.title }}{% endblock %}

{% block content %}
    <h1>{{ image.title }}</h1>
    {% load thumbnail %}
    {% thumbnail image.image "300" as im %}
        <a href="{{ image.image }}">
            <img src="{{ im.url }}" class="image-detail">
        </a>
    {% endthumbnail %}
    {% with total_likes=image.users_like.count users_like=image.users_like.all %}
        <div class="image-info">
                <div>
                    <span class="count">
                        <span class="total">{{ total_likes }}</span>
                        like{{ total_likes|pluralize }}
                    </span>
                    <span class="count">
                        <span class="total">{{ total_views }}</span>
                        view{{ total_views|pluralize }}
                    </span>
                    <a href="#" data-id="{{ image.id }}" data-action="{% if request.user in users_like %}un{% endif %}like" class="like button">
                        {% if request.user not in users_like %}
                            Like
                        {% else %}
                            Unlike
                        {% endif %}
                    </a>
                </div>
            <div>
                <h2>Listing type - {{image.listing_type}}</h2>
                
                <h3>Maps</h3>
                    <!-- <iframe
                      width="600"
                      height="450"
                      frameborder="0" style="border:0"
                      src="https://www.google.com/maps/embed/v1/place?key=AIzaSyDdMyT_fvok7-onoNyQcEBhXUGqM_QPoZs
                        &q=Space+Needle,Seattle+WA" allowfullscreen>
                    </iframe> -->

                <div id="map" style="width:500px;height:300px"></div>
                    <script>
                      var lat = {{ coords.lat}};
                      var long = {{coords.lng }};
                      document.write(lat, ' , ' ,long);
                      function initMap() {
                        var myLatLng = {lat: lat, lng: long};
                        // var myLatlng = new google.maps.LatLng(lat, long);
                        // document.write(myLatlng);
                        // var map = new google.maps.Map(document.getElementById('map'), {
                        //     zoom: 16,
                        //     center: loc,
                        // });
                        // var marker = new google.maps.Marker({
                        //     position: loc,
                        //     map: map
                        // });
                        var map = new google.maps.Map(document.getElementById('map'), {
                          zoom: 16,
                          center: myLatLng
                        });

                        var marker = new google.maps.Marker({
                          position: myLatLng,
                          map: map,
                          title: 'Hello World!'
                        });

                      }
                    </script>
                    <script async defer
                    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCG-v_D0Sj1rKpglTDzXQzuGbW-psBQV9I&callback=initMap">
                    </script>
                


                <h3><strong>Description</strong></h3>
                {{ image.description|linebreaks }}

                <h3><strong>Location</strong></h3>
                {{ image.street_address}}
                {{ image.city}}
                {{image.zipcode}}

                <h3><strong>Amenities</strong></h3>
                {{ image.amenities|linebreaks }}
            </div>                        
        </div>


        <div class="image-likes">
            {% for user in image.users_like.all %}
                <div>
                    <img src="{{ user.profile.photo.url }}">
                    <p>{{ user.first_name }}</p>
                </div>
            {% empty %}
                Nobody likes this image yet.
            {% endfor %}
        </div>
    {% endwith %}
{% endblock %}

{% block domready %}
    $('a.like').click(function(e){
        e.preventDefault();
        $.post('{% url "images:like" %}',
            {
                id: $(this).data('id'),
                action: $(this).data('action')
            },
            function(data){
                if (data['status'] == 'ok')
                {
                    var previous_action = $('a.like').data('action');

                    // toggle data-action
                    $('a.like').data('action', previous_action == 'like' ? 'unlike' : 'like');
                    // toggle link text
                    $('a.like').text(previous_action == 'like' ? 'Unlike' : 'Like');

                    // update total likes
                    var previous_likes = parseInt($('span.count .total').text());
                    $('span.count .total').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
                }
        });

    });
{% endblock %}
